* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

input {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 350px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    width: 200px;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.result-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-container strong {
    color: #333;
}

.result-container .highlight {
    color: #007BFF;
    font-weight: bold;
    font-size: 1.1em;
}